/*#newSectionForm{*/
    /*display: none;*/
/*}*/
/*#newStudentForm{*/
    /*display: none;*/
/*}*/
/*#newTeacherForm{*/
    /*display: none;*/
/*}*/
div {
    display: none;
}
#messageDiv{
    display: inline;
}

td{
    border-style: solid;
    border-color: black;
}
table{
    border-collapse: collapse;
}
/*.img {*/
    /*padding: 30px;*/
/*}*/